<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Home Page</title>
</head>
<body>
    <%- include('./partials/nav') %>
    <%- JSON.stringify(allblogs) %>
    <div class="container mt-4 d-flex p-2">
       <% allblogs.forEach(allblog => { %>
        <div class="card ms-4" style="width: 18rem;">
            <img src="<%=allblog.CoverImageURL %>" class="card-img-top" alt="">
            <div class="card-body">
              <h5 class="card-title"><%= allblog.title%></h5>
              <a href="/api/v1/blog/<%- allblog._id %>" class="btn btn-primary">view</a>
            </div>
          </div>
       <% }) %>
    </div>
    <%- include('./partials/script') %>
</body>
</html>